DEFINE LISTENER (TCP.{{ QMGR_PORT }}) TRPTYPE(TCP) CONTROL(QMGR) PORT({{ QMGR_PORT }})
START LISTENER (TCP.{{ QMGR_PORT }}) 
DEFINE QLOCAL(IN.{{ QMGR_NAME }})
DEFINE CHANNEL(EXTERNAL.SVRCONN) CHLTYPE(SVRCONN) TRPTYPE(TCP) SSLCAUTH(OPTIONAL) 

